{% extends 'gwd/base.html' %}

{% block title %}{{ _('anniversaries', True) }} - {{ title|default('GeneWeb') }}{% endblock %}

{% block content %}
  <div class="py-4">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-3">{{ _('anniversaries', True) }}</h1>

  <ul>
          <li><a href="{{ link_AN }}">{{ _('anniversaries of birth') }}</a></li>
          <li><a href="{{ link_AD }}">{{ _('anniversaries of dead people') }}</a></li>
          <li><a href="{{ link_AM }}">{{ _('anniversaries of marriage') }}</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
