{% extends "gwd/base.html" %}

{% block title %}{{ total_firstnames|default('?') }} {{ _('first names') }} ({{ total_persons|default(0) }} {{
_('persons') }}){% endblock %}

{% block content %}
<h1>{{ total_firstnames|default('?') }} {{ _('first names') }} ({{ total_persons|default(0) }} {{ _('persons') }})</h1>

<p class="search_name">
    {% for letter in persons_grouped %}
    <a href="#a{{ letter.letter|upper }}">{{ letter.letter|upper }}</a>
    {% endfor %}
</p>

<ul>
    {% for letter in persons_grouped %}
    <li>
        <a id="a{{ letter.letter|upper }}">{{ letter.letter|upper }}</a>
        <ul>
            {% for person in letter.persons %}
            <li>
                <a href="{{ request.path }}?m=P&v={{ person.v|urlencode }}&t=A&lang={{ lang }}">{{
                    person.first_name|default('?') }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
